@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
* {
  box-sizing: border-box; }

body {
  background-color: #00B8D4;
  line-height: normal;
  font-size: 16px;
  overflow-Y: scroll;
  font-family: "Roboto Condensed", "Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased !important; }

a, a:hover, a:visited, a:link, a:active {
  text-decoration: none; }

a:active {
  color: #fff !important; }

.sm-img {
  width: 30px !important;
  height: 30px !important; }

.rad-navigation {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 0 0px 9px 4px rgba(0, 0, 0, 0.1), 0 -5px 2px 2px rgba(0, 0, 0, 0.1);
  background: white;
  z-index: 10000;
  text-align: center;
  padding: 10px;
  font-family: "Roboto Condensed"; }
  .rad-navigation ul {
    margin-bottom: 0; }

.rad-logo-hidden {
  line-height: 50px;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 22px;
  text-decoration: none;
  color: #222533;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 50%;
  transition: all 0.2s ease-in-out; }

.links {
  margin-right: 10px;
  position: relative; }
  .links > li {
    list-style: none;
    position: relative;
    margin: 10px;
    display: inline-block; }

.rad-dropmenu-item.active {
  display: block;
  -webkit-animation: flipInX 1s ease; }

.lg-text {
  font-size: 13px;
  font-weight: 600;
  color: #333; }

.md-text {
  font-size: 12px;
  color: #c6c6c6; }

.sm-text {
  font-size: 11px;
  color: #c6c6c6; }

.rad-notification-item {
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid #EEEEEE; }
  .rad-notification-item:hover {
    background-color: #F5F5F5; }
  .rad-notification-item .rad-notification-content {
    color: #404040; }

.rad-notification-body {
  color: black;
  vertical-align: middle;
  margin-left: 30px; }

.rad-logo-container {
  width: 225px;
  text-align: center;
  height: 50px;
  float: left;
  transition: all 0.2s ease-in-out; }

.rad-top-nav-container {
  float: right;
  transition: all 0.2s ease-in-out; }

.rad-toggle-btn,
.rad-logo {
  text-decoration: none;
  position: relative;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase;
  color: #222533;
  display: inline-block; }

.rad-logo i {
  padding-top: 2px;
  vertical-align: middle;
  margin-right: 10px; }

.rad-toggle-btn:hover {
  background: #f9f9f9; }

.rad-menu-item {
  position: relative;
  padding: 0 5px;
  line-height: 30px;
  height: 30px;
  color: #89949B;
  z-index: 5;
  display: inline-block; }

.rad-menu-badge {
  position: absolute;
  min-width: 20px;
  min-height: 20px;
  line-height: 20px;
  font-weight: bold;
  color: white;
  border-radius: 100%;
  font-size: 12px;
  background: #E94B3B;
  box-shadow: 0.5px 0.2px 1px rgba(0, 0, 0, 0.5);
  display: inline-block;
  text-align: center;
  top: -10px;
  z-index: 1; }

.sm-menu {
  min-width: 150px !important; }
  .sm-menu > li {
    padding: 10px;
    text-align: left; }
    .sm-menu > li i {
      margin: 0 10px 0 0; }
    .sm-menu > li > a {
      padding: 10px; }

.rad-dropmenu-item {
  position: absolute;
  right: -6px;
  top: 45px;
  min-width: 250px;
  background-color: white;
  border: 1px solid #BDBDBD;
  border-top: 5px solid #515d6e;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); }
  .rad-dropmenu-item:before {
    content: "";
    position: absolute;
    border-width: 0px 10px 10px 10px;
    border-style: solid;
    border-color: #515d6e transparent;
    top: -14px;
    right: 8px; }

.rad-dropmenu-footer,
.rad-dropmenu-header {
  display: block !important;
  background: #CFD8DC;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0 !important;
  padding: 6px;
  text-align: center; }
  .rad-dropmenu-footer > a,
  .rad-dropmenu-header > a {
    color: white;
    line-height: 12px;
    text-decoration: none; }

.rad-dropmenu-header {
  border-bottom: 1px solid #CFD8DC; }

.rad-dropmenu-footer {
  border-top: 1px solid #CFD8DC; }

.rad-dropmenu-item.rad-settings {
  right: 0 !important;
  left: auto !important; }
  .rad-dropmenu-item.rad-settings:before {
    right: 5px !important;
    left: auto !important; }
  .rad-dropmenu-item.rad-settings > .rad-notification-item:hover {
    background: #fff !important; }
  .rad-dropmenu-item.rad-settings > .rad-notification-item i {
    font-size: 24px; }

.rad-chk-pin {
  margin: 0 !important; }
  .rad-chk-pin span {
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    background: crimson;
    border: 1px solid #f6f6f6; }
    .rad-chk-pin span:after {
      content: "";
      position: absolute;
      background: white;
      width: 20px;
      height: 20px;
      border-radius: 4px;
      top: -1px;
      left: 0px;
      box-shadow: 0 0 0.5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }
  .rad-chk-pin input {
    display: none; }
    .rad-chk-pin input:checked + span {
      background: #23AE89; }
      .rad-chk-pin input:checked + span:after {
        left: 19px; }

.hide {
  display: none; }

.rad-option-selected {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -2px 4px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
  transition: all .2s linear; }

.rad-color-swatch {
  display: table;
  width: 90px;
  height: 25px;
  border-radius: 4px; }
  .rad-color-swatch .colors {
    width: 25px;
    height: 25px;
    display: table-cell;
    cursor: pointer; }
    .rad-color-swatch .colors input[type="radio"] {
      display: none; }
  .rad-color-swatch .colors:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; }
  .rad-color-swatch .colors:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; }

.rad-logo-container.rad-nav-min .rad-logo {
  opacity: 1; }
.rad-logo-container.rad-nav-min + .rad-logo-hidden {
  opacity: 1;
  visibility: visible; }

.rad-sidebar {
  z-index: 9999;
  position: fixed;
  font-weight: 600;
  background-color: white !important;
  width: 225px;
  height: 100vh;
  top: 70px;
  left: 0px;
  bottom: 0px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 2px 4px 8px rgba(0, 0, 0, 0.28);
  transition: all 0.2s ease-in-out; }
  .rad-sidebar li {
    text-align: left;
    height: 45px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.025em;
    line-height: 1.5; }
    .rad-sidebar li a {
      text-decoration: none;
      display: block;
      color: #515d6e; }
      .rad-sidebar li a i {
        position: relative;
        width: 45px;
        line-height: 45px;
        text-align: center; }
        .rad-sidebar li a i:before {
          z-index: 10;
          position: relative; }
      .rad-sidebar li a > span {
        display: inline-block;
        visibility: visible;
        opacity: 1;
        padding-left: 10px;
        -webkit-transition: all .2s ease-in-out .2s;
        transform: translate3d(0, 0, 0);
        text-transform: uppercase;
        font-size: 11px; }
    .rad-sidebar li:hover {
      background: #f2f2f2; }
      .rad-sidebar li:hover .icon-bg {
        transform: translate3d(0, 0, 0); }
      .rad-sidebar li:hover a > i {
        color: white; }

.icon-bg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  transform: translate3d(-43px, 0, 0);
  transition: all .2s ease-in-out; }

.rad-txt-primary {
  color: #1C7EBB; }

.rad-bg-primary {
  background: #1C7EBB; }

.rad-txt-success {
  color: #23AE89; }

.rad-bg-success {
  background: #23AE89; }

.rad-txt-danger {
  color: #E94B3B; }

.rad-bg-danger {
  background: #E94B3B; }

.rad-txt-warning {
  color: #F98E33; }

.rad-bg-warning {
  background: #F98E33; }

.rad-txt-violet {
  color: #6A55C2; }

.rad-bg-violet {
  background: #6A55C2; }

.rad-bg-crimson {
  background: crimson; }

.rad-bg-teal {
  background: #1fb5ad; }

.rad-bg-purple {
  background: rebeccapurple; }

.rad-bg-orange {
  background: #ff503f; }

.rad-bg-twitter {
  background: #55acee; }

.brand-icon {
  font-size: 22px;
  height: 50px;
  display: inline-block;
  float: left;
  width: 50px;
  background-color: crimson;
  text-align: center;
  line-height: 50px;
  color: white;
  font-weight: 700;
  transition: all 0.2s linear;
  margin-left: -230px;
  display: none; }

.rad-list-img {
  border-radius: 100%;
  width: 32px;
  height: 32px; }

.rad-body-wrapper {
  position: absolute;
  left: 230px;
  top: 75px;
  width: auto;
  right: 0;
  transition: all 0.2s ease-in-out; }

.rad-info-box {
  margin-bottom: 16px;
  box-shadow: 1px 1px 2px 0 #CCCCCC;
  padding: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  background: white !important; }
  .rad-info-box i {
    display: block;
    background-clip: padding-box;
    margin-right: 15px;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 4.4em;
    position: absolute; }
  .rad-info-box .value, .rad-info-box .heading {
    display: block;
    position: relative;
    color: #515d6e;
    text-align: right;
    z-index: 10; }
  .rad-info-box .heading {
    font-size: 1.2em;
    font-weight: 300;
    text-transform: uppercase; }
  .rad-info-box .value {
    font-size: 2.1em;
    font-weight: 600;
    margin-top: 5px; }

.rad-page-title {
  margin-bottom: 20px;
  text-shadow: 1px 4px 6px #c6c6c6, 0 0 0 #000, 1px 4px 6px #c6c6c6; }
  .rad-page-title span {
    font-size: 22px;
    font-weight: 500;
    display: block; }

/*# sourceMappingURL=style.css.map */
